svg {
  width: 24px;
  height: 24px;
}

button:focus {
  outline: none;
}

/*
  Use full page height
*/
html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

#__nuxt {
  display: flex;
}

#__layout {
  flex: 1;
  width: 100vw; /* Needed for horizontal scroll fix */
}
/*
  End
*/
