@tailwind base;
@tailwind utilities;

@layer base {
  /*
    Scollbar styles
    Works on Chrome, Edge, and Safari
  */
  *::-webkit-scrollbar {
    @apply w-1 h-1 #{!important};
    
    &-track {
      @apply bg-b-light m-4 rounded-full;
    }

    &-thumb {
      @apply rounded-full border-0;
      background: #afbbcf;

      &:hover {
        @apply bg-t-dark-secondary;
      }
    }
  }
  
  @screen sm {
    *::-webkit-scrollbar {
      @apply w-3 h-3 #{!important};
    }
  }
  
  /* Use full page height */
  html,
  body,
  #__nuxt,
  #__layout {
    height: 100%;
  }
  
  #__nuxt {
    display: flex;
  }
  
  #__layout {
    flex: 1;
    width: 100vw; /* Needed for horizontal scroll fix */
  }

  body {
    @apply text-t-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-extrabold leading-none;
  }

  svg {
    height: 24px;
    width: 24px;
  }

  ::placeholder {
    @apply text-t-dark-secondary #{!important};
  }

  button, 
  button:focus, 
  button:active {
    @apply outline-none;
  }
}

@layer components {
  /*
    Layout and Container
  */
  .layout {
    @apply flex flex-col h-full;
    @screen xs {
      @apply flex-row;
    }
  }

  .container {
    border: 1px solid;
    @apply bg-b-dark relative overflow-y-auto w-full max-w-tablet-landscape border-b-medium border-t-0;
  }

  /*
    Buttons
  */
  .btn {
    @apply rounded-full bg-brand h-12 text-white px-6 font-semibold select-none block;

    &:disabled {
      @apply bg-b-medium text-t-dark;
      & * {
        @apply text-t-dark;
      }
    }

    & * {
      @apply text-white;
    }

    &--sm {
      @apply h-6 text-xs;
    }

    &--md {
      @apply h-8;
    }

    &--lg {
      @apply h-10 text-base;
    }

    &--rounded {
      @apply rounded-full;
    }

    &--secondary {
      @apply bg-b-dark text-t-dark-secondary;
      & * {
        @apply text-t-dark-secondary;
      }
    }

    &--outline {
      @apply bg-opacity-0 border-solid border-2 text-t-dark border-b-medium;
    }

    &--simple {
      @apply bg-opacity-0 text-brand;
    }

    &--icon {
      @apply px-3 stroke-2;
    }
  }

  /*
    Forms
  */
  .label {
    @apply text-lg block;
  }
  .input {
    @apply bg-b-dark h-10 py-3 px-4 text-base w-full rounded-sm;
  }
  .input-file {
    @apply bg-b-dark py-3 px-4 text-base w-full rounded-sm;
  }
  .textarea {
    @apply bg-b-dark py-3 px-4 text-base w-full rounded-sm;
  }
  fieldset {
    .legend {
      @apply text-lg;
    }
    .label {
      @apply text-sm;
    }
  }
  .input-group {
    @apply flex items-center w-full;
    .input {
      @apply h-10;
    }
  }
  .input-icon {
    @apply h-10 w-10 flex items-center justify-center flex-shrink-0;
  }

  /*
    Typography
  */
  .sm-section-heading {
    @apply font-extrabold text-lg leading-8;
  }
  .md-section-heading {
    @apply font-extrabold text-2xl leading-10;
  }
  .lg-section-heading {
    @apply font-extrabold text-2xl leading-10;
  }
}

@layer utilities {
  @variants responsive {
    .svg {
      &-16 {
        height: 16px;
        width: 16px;
      }
      &-20 {
        height: 20px;
        width: 20px;
      }
      &-28 {
        height: 28px;
        width: 28px;
      }
      &-32 {
        height: 32px;
        width: 32px;
      }
      &-36 {
        height: 36px;
        width: 36px;
      }
    }
  }
}
