@tailwind base;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label,
  span {
    @apply text-t-dark;
  }
}

@layer components {
  .btn {
    @apply rounded-full bg-brand h-12 text-white px-6 font-semibold select-none block;
  }
  .btn * {
    @apply text-white;
  }
  .btn--secondary {
    @apply bg-b-dark text-t-dark-secondary;
  }
  .btn--secondary * {
    @apply text-t-dark-secondary;
  }
  .btn--outline {
    @apply bg-opacity-0 border-solid border-2 text-t-dark border-b-medium;
  }
  .btn--outline * {
    @apply text-t-dark;
  }
  .btn--simple {
    @apply bg-opacity-0 text-brand;
  }
  .btn--icon {
    @apply px-3 stroke-2;
  }
  .btn:disabled {
    @apply bg-b-medium text-t-dark;
  }
  .btn:disabled * {
    @apply text-t-dark;
  }
  .label {
    @apply text-lg;
  }
  .input {
    @apply bg-b-dark h-10 px-6 text-base w-full;
  }
}

@layer utilities {
  @variants responsive {
    .svg-16 {
      width: 16px;
      height: 16px;
    }
    .svg-20 {
      width: 20px;
      height: 20px;
    }
    .svg-28 {
      width: 28px;
      height: 28px;
    }
    .svg-32 {
      width: 32px;
      height: 32px;
    }
    .svg-36 {
      width: 36px;
      height: 36px;
    }
  }
}
